<div class="container mt-5 mb-5" >

    <table id="example6" class="display table" style="width:100%">
      <thead>
        <tr>
          <th>Payment Method</th>
          <th>Date</th>
          <th>Detail view</th>
          <th>Order Modify</th>
          <th>Status</th>
        </tr>
         
      </thead>
    
      <tbody>
        
         {{#each response}}
        <tr>
           
          <td class="shadow-lg">
           {{this.paymentMethod}}
          </td>
          <td class="shadow-lg">
            {{this.Date}}
          </td>
        </td>
       
        <td scope="col" class="shadow-lg">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
            onclick="viewdetail()">View Product Details</button>


          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"> VIEW DETAILS</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div id="hello">


                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary shadow-lg" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        </td>
          
          <td scope="col" class="shadow-lg"><button id="buttoncancel" class="btn btn-danger shadow-lg" onclick="confirmDelete(`{{this._id}}`)">Order Cancel</button></td>
       
    
 <td class="shadow-lg"><strong id="save{{this._id}}"></strong></td>

      
      
            
            
        
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

 
 
